@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #0B0C10;
  color: #C5C6C7;
  font-family: 'Open Sans', 'Nanum Gothic', sans-serif;
  font-style: normal;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 25px;
  color: #C5C6C7;
  text-decoration: none;
  font-weight: 600;
}

.navbar a {
  font-size: 18px;
  color: #C5C6C7;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
}

.navbar a:hover,
.navbar a.active {
  color: #45A29E;
}

.mainstuff {
  margin-top: 70px; /* Adjusted margin to make space for the fixed header */
  margin-bottom: 70px; /* Adjusted margin to make space for the fixed images at the bottom */
}

.mainstuff-text {
  margin-left: 50px;
  max-width: 800px;
}

.mainstuff-text h2 {
  font-size: 25px;
  font-weight: 700;
  color: #66FCF1;
  margin-top: 150px;
}

.mainstuff-text p,
.mainstuff-text p1 {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #C5C6C7;
  margin-top: 10px;
}

.imagesbottom {
  position: relative;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  margin-top: 70px;
}


.imagesbottom img {
  max-width: 100%;
  height: auto;
  margin-right: 20px;
}

.imagesbottom p {
  margin-left: 20px;
}
